.main {
  justify-content: center;
  display: flex;
  font-family: "Montserrat", sans-serif;
  padding: 100px;
  padding-top: 100px;
}

#account {
  box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px,
    rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
  padding: 10px 30px 30px 30px;
  width: 23%;
}

h1 {
  text-align: center;
  font-size: 2.5rem;
}

form {
  margin-top: 50px;
}

label {
  display: block;
  color: #656565;
  font-size: small;
}

input[type="password"] {
  width: 100%;
  text-align: center;
  padding: 9px;
  border: 2px solid #000;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

input[type="button"] {
  background-color: #f39;
  color: white;
  font-size: 1.1rem;
  font-weight: bolder;
  border: none;
  padding-top: 15px;
  padding-bottom: 15px;
  width: 100%;
  margin-top: 30px;
}

#phone,
input[type="email"] {
  padding: 9px;
  font-size: 0.77778rem;
  color: #999;
  border: 2px solid #000;
  width: 93%;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

select {
  border: 2px solid #000;
  resize: vertical;
  padding: 9px;
  border-right: none;
  margin-bottom: 10px;
  margin-top: 5px;
}

#nm {
  width: 103%;
  border: 2px solid #000;
  resize: vertical;
  padding: 8.5px;
  border-left: none;
  padding-bottom: 10px;
  margin-top: 5px;
}

.two {
  display: flex;
}
