*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
#page_info{
    width: 80%;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 15px;
}
#page_info span{
    color: rgb(221, 145, 158);
}
#front_poster{
    width: 80%;
    margin: auto;

}
#front_poster > img{
    width: 100%;
}

#price_sort{
    width: 80%;
    margin: auto;
    text-align: right;
    margin-top: 10px;
    
}

#sort_price{
    font-size: 17px;
    padding: 7px 15px;
    color: grey;
    border: 2px solid black;
    cursor: pointer;
}

#parent{
    display: flex;
    width: 80%;
    margin: auto;

}
#filter_div select{
    display: block;
}

#filter_div select{
    font-size: 17px;
    padding: 10px 15px;
    width: 100%;
    width: 220px;
    color: grey;
    border: 2px solid black;
    margin-top: 25px;
    cursor: pointer;
}

#product_display{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    text-align: center;
}

#product_display img{
    width: 100%;
}

#product_display > div{
    padding: 20px;
}

#product_display > div >*{
    margin-bottom: 10px;
}
.cart_bag{
    margin-right: 30px;
    padding: 10px 15px;
    border: none;
    border-radius: 8px;
    color: white;
    background-color: #ff339a;
    cursor: pointer;
}
.cart_bag:hover{
    background-color: #e35b9f;
}
/* footer */


#btn > button{
    font-size: 17px;
    padding: 1rem;
    color:black;
    background-color: rgb(134, 176, 8);
    border: none;
    display: flex;
    margin: auto;
    margin-top: 30px;
    margin-bottom: 30px;
}

#tag{
    margin: 0;
    text-align: center;
    justify-content: center;
    display: flex;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    letter-spacing: 1.7px;
    font-weight:lighter;
    background-color: rgb(235, 235, 244);

  }
#tag > h2{
    font-weight:800;
}
#input{
    justify-content: center;
    display: flex;
    background-color: rgb(235, 235, 244);
    padding-bottom: 10px;
}

#input > input{
    font-size: 17px;
    padding: 1rem;
    border: none;
  }
  #input > input[type=button]{
    background-color: black;
    color: white;
    font-weight: bold;
   
  }
  .style1,
.style2 {
  padding: 20px 120px;
}
.style1 > h2 {
  text-align: center;
  color: #656565;
  margin: 0 0 20px;
  width: 100%;
  padding: 0 15px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  letter-spacing: 2px;
  font-size: 0.88rem;
  font-weight: 900;
}
.style1 > p,
.style2 > p {
  margin: 0;
  width: 100%;
  padding: 0 0 15px;
  font-size: 0.78rem;
  line-height: 1.7;
  color: #656565;
  text-align: center;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
.style2 > h3 {
  text-align: center;
  color: #656565;
  margin: 0 0 20px;
  width: 100%;
  padding: 0 15px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  letter-spacing: 2px;
  font-size: 1.32rem;
  letter-spacing: 0.2px;
  font-weight: 490;
}
ul {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

li {
  list-style: none;
  margin: auto 18px;
  padding: 3px 3px;
}
a {
  text-decoration: none;
  font-weight: bold;
  font-size: 20px;
  color: black;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.style5 > ul > li > a {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  padding-right: 6px;
  cursor: pointer;
  font-size: 15px;
  color: #000;
  text-decoration: none;
  letter-spacing: 0.2px;
  font-weight: lighter;
}

.style6 {
  padding: 20px 120px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.style6 > h3 {
  text-align: center;
  font-size: medium;
  margin-bottom: 7px;
}

.style6 > p {
  text-align: center;
  letter-spacing: 1px;
  line-height: 1.7rem;
  color: #000;
  margin-bottom: 13px;
}

.style2 {
    padding-top: 0;
}
.style3 > ul > li > a{
    font-size:medium;
}
.style1{
    margin-top: 20px;
}

@media only screen and (min-width : 0px) and (max-width : 960px) {
    #parent{
        display: grid;
        grid-template-columns: repeat(1,1fr);
        width: 80%;
        margin: auto;
    
    }
    #product_display{
        display: grid;
        grid-template-columns: repeat(2,1fr);
        text-align: center;
    }
}

/* navbar */
