*{
    font-family: sans-serif;
}
#mybagnav{
    display: grid;
    grid-template-columns: 1fr 1fr;
    /* grid-template-rows: 100px; */
    grid-template-rows: 40px;
    /* border: 2px solid red; */
    margin-left: 8%;
    margin-right: 8%;
}
body{
    margin: 0;
    margin-top: 5px;
}
#img-cnt-clickable > img{
    max-height: 40px;
    align-items: center;
}  
#logindetails{
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
}
#simplenav{
    background-color: #1F85DE;
    display: flex;
    align-items: center;
    height: 50px;
    /* width:fit-content; */
}
#simplenav > div{
    margin-left: 8%;
}
#mybagcount{
    margin: auto;
    /* margin-left: 8%; */
    /* background-color: red; */
    align-items: center;
    color: white;
    width: max-content;
}
#productcontent{
    display: grid;
    grid-template-columns: 1fr 2fr 2fr 2fr;
    grid-template-rows: 100px;
}
#smallimage{
    
    height: 100%;
    
}
#firstbox{
    display: flex;
    justify-content: center;
}
/* body > div{
    display: flex;
    align-items: center;
    max-height: 40px;
    
    margin-left: 10%;
    margin-right: 10%;
 } */
 #prodandcheck{
    display: grid;
    grid-template-columns: 2fr 1fr;
    margin: 0% 8% 0% 8%;
 }

