*{
    margin:0px;
}
/* Header Section */
#container {
    width: 100%;
    height: 40px;
}
.imgg {
    width: 120px;
    margin-left: 20px;
}
#container > div {
    /* border-top: 1px solid teal; */
    display: flex;
    justify-content:space-around;
}
#container > :first-child{
    width: 70%;
}
img {
    margin-left: -350px;
}
#container > :first-child > a {
    width: 14%;
    margin-top:0px;
}
.image{
    margin-left: 10px;
}
#container > :first-child > div{
    display: flex;
}
#container > :first-child > div > i{
    font-size:15px;
    color:grey;
    position:absolute;
    left:250px;
    top: 39px;
}
#container > :first-child > div > p{
    font-size:15px;
    color:grey;
    font-family: sans-serif;
    position:absolute;
    left:270px;
    top: 37px;
}
#container > :first-child > div > i:hover{
    color:black;
}
#container > :first-child > div > p:hover{
    color:black;
}
#container > :first-child > input{
    border: 1px solid #ccc;
    border-radius:30px;
    width: 60%;
    padding:15px;
    font-family: sans-serif;
    margin-left:120px;
}
#container > :first-child > i{
    color:grey;
    position:absolute;
    right:510px;
    top:37px;
}
.butt{
    align-items: center;
    justify-content: center;
}
#container > :first-child > i:hover{
    color:#aec3af;
}
#container > :last-child{
    /* border:1px solid red; */
    width: 27%;
}
#container > :last-child > a{
    font-size:15px;
    color:grey;
    margin-top: 15px;
}
/* #container > :last-child > i{
    margin-top: 17px;
} */
#container > :last-child > p{
    font-size:15px;
    color:grey;
    margin-top: 15px;
    font-family: sans-serif;
    margin-left: -40px;
}
a>i{
    color:grey;
}
a>i:hover{
    color: black;
}
#container > :last-child > p > a{
    color: grey;
    text-decoration: none;
}
#container > :last-child > p > a:hover{
    color: black;
}
/* #container > :last-child > button{
    border: 1px solid #ccc;
    border-radius:10px;
    height:40px;
    width:80px;
    margin-top:3.5px;
    background-color:#5DC6AD;
    color:white;
} */
#container > :last-child > i:hover{
    color:black;
}
#container > :last-child > p:hover{
    color:black;
}
/* Category Section */
.category{
    margin-top: 90px;
    display:flex;
    justify-content:center;
    border:1px solid #ccc;
    border-left: none;
    border-right: none;
    border-top: none;
}
.btn{
    background-color:white;
    margin-top: 8px;
    color:grey;
}
.dropdown:hover .dropdown-content {
    display: block;
}
.imgs{
    width: 95%;
    margin: auto;
    display:flex;
    /* border: 1px solid green; */
    justify-content: space-between;
}


.kart{
    display: flex;
    width: 95%;
    margin: auto;
    justify-content: center;
    
}

#cart{
    /* border:1px solid #5DC6AD; */
    width:65%;
    padding:0px 20px 20px 20px;
    margin-top:20px;
    border-radius: 5px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;}
#cart>h1{
    font-size: 25px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}
#cart>div{
    width:100%;
    /* border:1px solid red; */
    display: flex;
    /* justify-content:space-between; */
    margin-top: 10px;
    border-radius: 5px;
    /* box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px; */
}
#cart>input{
    padding:10px;
    outline:none;
    border:2px solid #5DC6AD;
    border-radius:5px;
}
#cart>input[type="submit"]{
    background-color:#e34d84;
    color:#fff;
}
#cart>div>img{
    width: 100%;
}

