#nav-bg{
    background-color: #f3f3f3;
}
#navbar{
    display: grid;
    grid-template-columns: repeat(11,1fr);
 margin-left: 75px;
 margin-right: 100px;
  text-align: center;
  
}

#navbar>.li,.sp,.search{
  margin-top: 3vh;
  font-size: larger;
 

}

.li>i{
    text-decoration: none;
    color:palevioletred;
}
/* #str1{
    text-decoration: none;
    color: violet;
} */
.str,.star,.dw,.track,.tro,.search,.cart,.user{
    margin-top: 3vh;
}
.str>i:first-child{
    text-decoration: none;
    color: darkmagenta;
}
.str>i:nth-child(2){
    text-decoration: none;
    color:orange;
}
.str>i:last-child{
    text-decoration: none;
    color:mediumvioletred;
}
.star>i:first-child,.search,.cart,.user{
    text-decoration: none;
    color: mediumvioletred;
}
.star>i:nth-child(2){
    text-decoration: none;
    color:orange;
}
.star>i:last-child{
    text-decoration: none;
    color:darkmagenta;
}

.dw>i{
    text-decoration: none;
    color: mediumvioletred;
    font-size:30px;
}
p{
    display:block;
}
.track,.tro>i{
font-size: 25px;
color:mediumvioletred;
}
.track,.tro{
    font-size: larger;
}
#nav-2{
    display: grid;
    grid-template-columns: repeat(7,1fr);
   text-align: center;
  background-color:white;
}
input{
    width:8vw;
    height: 3vh;
    border-style:none;
    border-color: white;
    font-size: large;
    margin-left: 30px;
   
}
.search{
    margin-left:30px;
}
hr{
    color:1px solid grey;
    margin-left: 90px;
    width: 15vw;
}
.brand>h1{
    font-size:60px;
    font-family: Monaco;
}
.brand{
    height: 15vh;
    width: 25vw;
    margin-left: 17vw;
}

#navbar{
    /* border: 2px solid red; */
    display: flex;
    /* grid-template-columns: repeat(7,1fr); */
    justify-content: space-between;
}

@media all and (min-width: 401px) and (max-width: 800px) {

}

@media all and (min-width: 100px) and (max-width: 400px) {
}

* {box-sizing:border-box}

/* Slideshow container */
.slideshow-container {
  max-width: 100%;
  height: 5%;
  position: relative;
  margin: auto;
}

/* Hide the images by default */
.mySlides {
  display: none;
}


/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
  animation: slideshow 1s ease;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}


/* Dropdown starts */

/* Dropdown Button */
.dropbtn {
   
    
    padding: 16px;
    font-size: 16px;
    border: none;
  }
  
  /* The container <div> - needed to position the dropdown content */
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  /* Dropdown Content (Hidden by Default) */
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  #makeup{
   display: flex;
   justify-content: space-between;
  }
  
  /* Links inside the dropdown */
  .dropdown-content a{
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  /* Change color of dropdown links on hover */
  .dropdown-content a:hover {background-color: #ddd;}
  
  /* Show the dropdown menu on hover */
  .dropdown:hover .dropdown-content {display: block;}
  
  /* Change the background color of the dropdown button when the dropdown content is shown */
  .dropdown:hover .dropbtn {background-color:pink;}

  /* Dropdown ends  */
  #navbar:hover{
    background-color: palevioletred;
  }
  #nav-2:hover{
    background-color: violet;
  }


  /* slider */



  
* {box-sizing: border-box;}
body {font-family: Verdana, sans-serif;}
.mySlides {display: none;}
img {vertical-align: middle;}

/* Slideshow container */
.slideshow-container {
  max-width: 1000%;
  position: relative;
  margin: auto;
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active {
  background-color: #717171;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1s;
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .text {font-size: 11px}
}





/* slider ends  */



  